
		*{
			background-color: cadetblue;
		}
		h1{
			text-align:center;
			color:darkblue;
		}
		p {
			text-align:center;
			color:red;
			background-color:darkgrey;
			font-family:Arial, Helvetica, sans-serif;
		}
	

		